
@using PagedList;
@using PagedList.Mvc

<div id="propertyListing">
   
    <input type="hidden" name="hdnCity" value="@ViewBag.currentCity" />

    @foreach (var item in ViewBag.Names)
    {
        <div class="col-lg-4 col-md-3 col-sm-4 width_table_list padd-left">
            <div class="home-img-detail-box">
                <div>
                    <a href="@Url.RouteUrl("ProductDetails",new { id=item.Url})">
                        <img src="@Url.Content(item.imageUrl)" class="img-responsive" alt="">
                    </a>

                </div>
                <div class="rent-box">Rent</div>
                <div class="home-detail">
                    <ul>
                        <li class="first-collum">
                            @item.Locality
                            <br><span>@item.SocietyName</span>
                        </li>
                        <li class="second-collum"><i class="fa fa-inr"></i> @item.Rent</li>
                    </ul>
                </div>
                <ul class="ssss">
                    <li class="area">@item.Area</li>
                    <li class="area2">@item.Bathroom</li>
                    <li class="area3">@item.Bedroom</li>
                </ul>
            </div>
        </div>
    }
    <div class="clear"></div>

    @Html.PagedListPager((IPagedList)ViewBag.Names, page => Url.Action("PropertyNavigation", new { page, For = "Rent" }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "featuredListingPartial" }))

</div>

<script>
    $(function () {
        $('.pagination-container ul').addClass('pagination pagination_home');
    });
</script>